@import "../../styles/variables.css";

.repo-list-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mascot-img {
  display: block;
  border: none;
  margin: 0 auto;
}

.welcome-message {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-align: center;
  margin: 50px 20px 40px 20px;
}
